
$DEFAULT_UI_COLOR: #81c0fa;
$DEFAULT_HOVER_UI_COLOR: #879caf;

$DEFAULT_BACKGROUND_COLOR: 'darkgrey';
$DEFAULT_TITLE_COLOR: #3596ef;

$DRAWER_WIDTH: 240px;

$SPACER_XS: 8px;
$SPACER_S: 16px;
$SPACER_M: 32px;
$SPACER_L: 64px;

$FONT_SIZE_TEXT: 10pt;
$FONT_SIZE_SUBTITLE: 14pt;

:export {
  DEFAULT_UI_COLOR: $DEFAULT_UI_COLOR;
  DEFAULT_TITLE_COLOR: $DEFAULT_TITLE_COLOR;
  SPACER_L: $SPACER_L;
  DEFAULT_BACKGROUND_COLOR: $DEFAULT_BACKGROUND_COLOR;
}