$DEFAULT_UI_COLOR: red;

$DEFAULT_BACKGROUND_COLOR: 'darkgrey';
// #81c0fa
$SPACER_XS: 8px;
$SPACER_S: 16px;
$SPACER_M: 32px;
$SPACER_L: 64px;

$FONT_SIZE_TEXT: 10pt;
$FONT_SIZE_SUBTITLE: 14pt;

:export {
  DEFAULT_UI_COLOR: $DEFAULT_UI_COLOR;
  SPACER_L: $SPACER_L;
  DEFAULT_BACKGROUND_COLOR: $DEFAULT_BACKGROUND_COLOR;
}
