$DEFAULT_COLOR: #0f1f7a;
$DEFAULT_BACKGROUND_COLOR: 'darkgrey';

$SPACER_XS: 8px;
$SPACER_S: 16px;
$SPACER_M: 32px;
$SPACER_L: 64px;

$FONT_SIZE_TEXT: 10pt;
$FONT_SIZE_SUBTITLE: 14pt;

:export {
  DEFAULT_COLOR: $DEFAULT_COLOR;
  SPACER_L: $SPACER_L;
  DEFAULT_BACKGROUND_COLOR: $DEFAULT_BACKGROUND_COLOR;
}
